# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj # this is a wavefront-OBJ not a compiled object file

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directory
build/

#QT
HelloOpenGL.creator.user
*.autosave


